torch --index-url https://download.pytorch.org/whl/cu129
torchvision --index-url https://download.pytorch.org/whl/cu129
torchaudio --index-url https://download.pytorch.org/whl/cu129
seaborn
matplotlib
flwr[simulation]
flwr-datasets[vision]
toml
numpy
